@import "tailwindcss"; /* Jika kamu pakai Tailwind v4 */

/* ATAU jika kamu masih pakai v3, gunakan ini: */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: black;
  color: white;
}